.DS_Store
db/db.json
test/detect.sh
build/
dist/
images/*.jpg
*.egg-info/
*.egg
*.py[cod]
**/__pycache__/
*.so
*~
known_faces/*
!known_faces/README.md
models/
# due to using tox and pytest
.tox
.cache
