# This is a systemd startup file if you are on a system that
# supports systemd and you want mlapi to work as an always 
# on service

# Please make sure you run mlapi manually first
# to create a user/password for access and then enable
# this service

# To make this persistent
# sudo cp mlapi.service /etc/systemd/system
# sudo chmod 644 /etc/systemd/system/mlapi.service
# sudo systemctl enable mlapi.service

# To start, 
# sudo systemctl start mlapi

[Unit]
Description=Machine Learning API service
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=5
# We need this to get logs correctly
Environment=PYTHONUNBUFFERED=1

# change this 
WorkingDirectory=/var/lib/zmeventnotification/mlapi
# Change to your username
User=www-data
#Change paths if needed
ExecStart=/var/lib/zmeventnotification/mlapi/mlapi.py -c ./mlapiconfig.ini
ExecStartPost=+/bin/sh -c 'umask 022; pgrep mlapi.py > /var/run/mlapi.pid'


# Note that if you enable use_zm_logs=yes in mlapiconfig.ini
# you can comment these out. If you enable use_zm_logs, the logs 
# will be written in ZM log format to <path to zm logs>/zm_mlapi.log 
StandardOutput=file:/var/log/zm/mlapi.log
StandardError=file:/var/log/zm/mlapi_error.log

[Install]
WantedBy=multi-user.target